.equpmentList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.equpmentListItem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 12px 18px;
    border-radius: 100px;
    background-color: var(--badges);
    color: var(--main);
}

.secondary {
    background-color: var(--gray-100);
}
