.navigation {
    justify-self: center;
}

.navigationList {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigationList li {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--main);
}

.active {
    color: var(--button-hover);
}