.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 24px 64px;
    border-bottom: 1px solid var(--badges);
    background: var(--inputs);
}

.headerLogoHolder {
    position: absolute;
    top: 50%;
    left: 64px;
    transform: translateY(-50%);
}