.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: image-set(url('../../assets/hero.jpg') 1x, url('../../assets/hero.jpg') 2x);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 73px);
}

.title {
    font-size: 48px;
    font-weight: 600;
    line-height: 32px;
    color: var(--inputs);
    margin-bottom: 16px;
}

.subTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--inputs);
    margin-bottom: 40px;
}